mainmenu "HIT-CGRA-Mapper Configuration Menu"

menu "Build Options"
choice
  prompt "Compiler"
  default CC_GPP
config CC_GPP
  bool "g++"
config CC_CLANG
  bool "clang++-12"
endchoice

config CC
  string
  default "g++" if CC_GPP
  default "clang" if CC_CLANG
  default "none"

choice
  prompt "Optimization Level"
  default CC_O2
config CC_O0
  bool "O0"
config CC_O1
  bool "O1"
config CC_O2
  bool "O2"
config CC_O3
  bool "O3"
endchoice

config CC_OPT
  string
  default "-O0" if CC_O0
  default "-O1" if CC_O1
  default "-O2" if CC_O2
  default "-O3" if CC_O3
  default "none"

config CC_DEBUG
  bool "Enable gdb information"
  default n
endmenu


menu "Debugging"

config DFG_DEBUG
  bool "Enable DFG debug print"
  default y
config CGRA_DEBUG
  bool "Enable CGRA debug print"
  default y
menu "MAP_DEBUG"
config MAP_DEBUG
  bool "Enable MAP debug print"
  default y
config MAP_DEBUG_PATH
	depends on MAP_DEBUG
  bool "Enable find path detail print"
  default n
config MAP_DEBUG_SCHEDULE
	depends on MAP_DEBUG
  bool "Enable schedule print"
  default n
endmenu
endmenu

menu "DFG config"

config DFG_FULL_INST 
  bool "Show the full Inst in DFG"
  default n
config DFG_LEVEL
	bool "Show node's level in DFG"
	default y
config DFG_LONGEST
	bool "Show the longest path in DFG "
	default y
endmenu
